---
import HeroRC from './hero'
import { getEntry } from 'astro:content'

const site = await getEntry('site', 'site')
---

<section class="container-fluid">
  <HeroRC site={site} />
</section>

<style lang="scss">
  section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>
