---
import HeroRC from './hero'
---

<section class="container-fluid">
  <HeroRC />
</section>

<style lang="scss">
  section {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }
</style>
