---
import Head from '~/components/head'

export interface Props {
  lang?: string
}

const { lang } = Astro.props
---

<html id="html" lang={lang || 'en'}>
  <Head>
    <slot name="head" />
  </Head>
  <body>
    <slot />
    <script src="../components/scripts/menu.ts"></script>
  </body>
</html>
