---
import BaseLayout from './base.astro'

import '@fontsource/plus-jakarta-sans/400.css'
import '@fontsource/plus-jakarta-sans/700.css'
import '@fontsource/plus-jakarta-sans/800.css'
import '~/styles/nohemi.scss'
import '~/styles/base.scss'
---

<BaseLayout>
  <main class="container">
    <slot />
  </main>
</BaseLayout>
