---
import Layout from './layout.astro'

export interface Props {
  title: string
  subtitle?: string | undefined
  description?: string | undefined
}

const { title, subtitle, description } = Astro.props
---

<Layout title={title} description={description}>
  <section class="container">
    <article>
      <h1 class="_title">{title}</h1>
      {subtitle && <p class="_subtitle">{subtitle}</p>}
      <slot />
    </article>
  </section>
</Layout>

<style lang="scss">
  @use '../styles/fonts';

  section {
    padding-top: 8rem;;
  }

  article {
    max-width: 65ch;
  }

  ._title {
    @extend %heading;
    --font-size: 2.5rem;
    --typography-spacing-vertical: 1rem;
    line-height: 110%;

    --color: transparent;
    background-image: linear-gradient(
      to right,
      var(--primary) 5%,
      var(--secondary) 95%
    );
    background-clip: text;
  }

  ._subtitle {
    --font-size: 1.5rem;
  }

  @media (min-width: 992px) {
    ._title {
      --font-size: 4rem;
      --typography-spacing-vertical: 1.5rem;
      line-height: 125%;
    }

    ._subtitle {
      --font-size: 1.75rem;
    }
  }
</style>
